<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bbfa64">  <td>19/12/16 11:15:11</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.TestLogin()[pri:1, instance:com.carmaticQaAdmin.testclasses.HomePageTest@3d99d22e]">TestLogin</td> 
  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="bbfa64">  <td>19/12/16 11:15:11</td>   <td>10</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.homePage()[pri:2, instance:com.carmaticQaAdmin.testclasses.HomePageTest@3d99d22e]">homePage</td> 
  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="bbfa64">  <td>19/12/16 11:15:11</td>   <td>13</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePageTest.tearDown()[pri:0, instance:com.carmaticQaAdmin.testclasses.HomePageTest@3d99d22e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
</table>
