<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>display</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6ecdab">  <td>19/12/20 19:38:28</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LocatorPageTest.LocatorPage()[pri:2, instance:com.carmaticQaAdmin.testclasses.LocatorPageTest@3b084709]">LocatorPage</td> 
  <td>main@1489069835</td>   <td></td> </tr>
<tr bgcolor="bf97b9">  <td>19/12/20 19:39:26</td>   <td>58421</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="QuotesPageTest.QuotesPage()[pri:2, instance:com.carmaticQaAdmin.testclasses.QuotesPageTest@3224f60b]">QuotesPage</td> 
  <td>main@1489069835</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>19/12/20 19:35:19</td>   <td>-188645</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.TestLogin()[pri:1, instance:com.carmaticQaAdmin.testclasses.HomePageTest@22a67b4]">TestLogin</td> 
  <td>main@1489069835</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/12/20 19:36:29</td>   <td>-118828</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VehicleSelectionPageTest.TestLogin()[pri:1, instance:com.carmaticQaAdmin.testclasses.VehicleSelectionPageTest@57855c9a]">TestLogin</td> 
  <td>main@1489069835</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>19/12/20 19:37:48</td>   <td>-39761</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LocatorPageTest.TestLogin()[pri:1, instance:com.carmaticQaAdmin.testclasses.LocatorPageTest@3b084709]">TestLogin</td> 
  <td>main@1489069835</td>   <td></td> </tr>
<tr bgcolor="bf97b9">  <td>19/12/20 19:38:46</td>   <td>18506</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="QuotesPageTest.TestLogin()[pri:1, instance:com.carmaticQaAdmin.testclasses.QuotesPageTest@3224f60b]">TestLogin</td> 
  <td>main@1489069835</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/12/20 19:37:09</td>   <td>-78907</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VehicleSelectionPageTest.VehicleSelectionPage()[pri:2, instance:com.carmaticQaAdmin.testclasses.VehicleSelectionPageTest@57855c9a]">VehicleSelectionPage</td> 
  <td>main@1489069835</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>19/12/20 19:36:01</td>   <td>-147179</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.homePage()[pri:2, instance:com.carmaticQaAdmin.testclasses.HomePageTest@22a67b4]">homePage</td> 
  <td>main@1489069835</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>19/12/20 19:35:13</td>   <td>-194613</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePageTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.carmaticQaAdmin.testclasses.HomePageTest@22a67b4]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1489069835</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/12/20 19:36:23</td>   <td>-124584</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VehicleSelectionPageTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.carmaticQaAdmin.testclasses.VehicleSelectionPageTest@57855c9a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1489069835</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>19/12/20 19:37:42</td>   <td>-45389</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LocatorPageTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.carmaticQaAdmin.testclasses.LocatorPageTest@3b084709]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1489069835</td>   <td></td> </tr>
<tr bgcolor="bf97b9">  <td>19/12/20 19:38:41</td>   <td>13098</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;QuotesPageTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.carmaticQaAdmin.testclasses.QuotesPageTest@3224f60b]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1489069835</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>19/12/20 19:36:22</td>   <td>-126261</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePageTest.tearDown()[pri:0, instance:com.carmaticQaAdmin.testclasses.HomePageTest@22a67b4]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1489069835</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/12/20 19:37:42</td>   <td>-46334</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VehicleSelectionPageTest.tearDown()[pri:0, instance:com.carmaticQaAdmin.testclasses.VehicleSelectionPageTest@57855c9a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1489069835</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>19/12/20 19:38:40</td>   <td>12185</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LocatorPageTest.tearDown()[pri:0, instance:com.carmaticQaAdmin.testclasses.LocatorPageTest@3b084709]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1489069835</td>   <td></td> </tr>
<tr bgcolor="bf97b9">  <td>19/12/20 19:39:37</td>   <td>69346</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;QuotesPageTest.tearDown()[pri:0, instance:com.carmaticQaAdmin.testclasses.QuotesPageTest@3224f60b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1489069835</td>   <td></td> </tr>
</table>
